@import "tools";

.bg-hover, .hover:hover {
  // TODO use hover var
  background: var();
}

.font-xs {
  font-size: 10px;
}

.ellipsis {
  line-height: 17.6px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fake-content:before {
  content: '\00a0';
}

.justify-space-evenly {
  display: flex;
  justify-content: space-evenly;
}

.align-space-evenly {
  display: flex;
  align-content: space-evenly;
}

.center {
  display: flex !important;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

/*************
*   Width    *
**************/

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

/*************
*   HEIGHT    *
**************/

.h-50 {
  height: 50%;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}