<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <CharacterCard msg="Welcome to Your Vue.js + TypeScript App" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import CharacterCard from "@/components/CharacterTable.vue"; // @ is an alias to /src

@Component({
  components: {
    CharacterCard,
  },
})
export default class HomeView extends Vue {}
</script>
