<template>
  <div class="character flex-grow-1 d-flex center flex-column">
    <h2 class="text-h2 ma-6 mb-15">
      <router-link
        :to="{ name: ERoutes.CHARACTERS }"
        class="text-decoration-none"
      >
        <v-icon small>mdi-arrow-left-circle</v-icon>
      </router-link>
      {{ character.name }}
    </h2>

    <div class="d-flex align-center justify-space-around w-50">
      <CharacterCard :character="character" />

      <div class="ml-6 text-left">
        <p>statut : {{ character.status }}</p>
        <p>espèce : {{ character.species }}</p>
        <p>type : {{ character.type }}</p>
        <p>genre : {{ character.gender }}</p>
        <p>crée le : {{ character.created | europeanDateFormat }}</p>
        <p>
          épisodes :
          {{ character.episode.map((e) => e.replace(EPISODE_URL, "")).join() }}
        </p>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Watch } from "vue-property-decorator";
import CharacterCard from "@/components/CharacterCard.vue";
import { getModule } from "vuex-module-decorators";
import { CharacterModule } from "@/store/modules/character.module";
import { ERoutes } from "@/router/routes";
import { generateCharacterPage } from "@/services/route.service";
import dayjs from "dayjs";
const EPISODE_URL = "https://rickandmortyapi.com/api/episode/";

@Component<CharacterPage>({
  components: { CharacterCard },
  data: () => ({
    ERoutes,
    generateCharacterPage,
    EPISODE_URL,
    dayjs,
  }),
})
export default class CharacterPage extends Vue {
  public charactersModule = getModule(CharacterModule, this.$store);

  public get character() {
    console.log(this.charactersModule.character);
    return this.charactersModule.character;
  }

  @Watch("this.$route.params.id")
  public async fetchCharacter() {
    await this.charactersModule.getCharacter(this.$route.params.id);
  }

  public async mounted() {
    await this.fetchCharacter();
  }
}
</script>
<style lang="scss">
.search {
  width: fit-content;
}

.page {
  max-width: 150px;
}
</style>
