<template>
  <div class="characters flex-grow-1 d-flex flex-column">
    <h2 class="text-h2 ma-6">Liste des personnages</h2>

    <p>
      Pour aller à la page des d'accueil cliquer
      <router-link :to="ERoutes.HOME"> ici</router-link>
    </p>

    <div
      class="flex-grow-1 d-flex justify-space-around align-center flex-column"
    >
      <v-card class="pa-4 my-4">
        <v-form class="center" @submit.prevent="getAllCharacters(false)">
          <v-text-field
            v-model="form.name"
            append-icon="mdi-magnify"
            class="name mx-2 my-0"
            dense
            hide-details
            outlined
            placeholder="Ants"
            type="text"
            @click:append="getAllCharacters(false)"
          />

          <div class="center">
            <!-- TODO for of-->
            <!-- TODO Multiple -->
            <v-checkbox
              v-model="form.status"
              :value="ECharacterStatus.ALIVE"
              class="ma-0 pa-2"
              hide-details
              label="vivant"
              @change="getAllCharacters(false)"
            />
            <v-checkbox
              v-model="form.status"
              :value="ECharacterStatus.DEAD"
              class="ma-0 pa-2"
              hide-details
              label="mort"
              @change="getAllCharacters(false)"
            />
            <v-checkbox
              v-model="form.status"
              :value="ECharacterStatus.UNKNOWN"
              class="ma-0 pa-2"
              hide-details
              label="inconnu"
              @change="getAllCharacters(false)"
            />
          </div>
        </v-form>
      </v-card>

      <div class="center">
        <character-table
          v-if="!isCharactersLoading && characters && characters.length"
          :characters="characters"
        />
        <v-progress-circular
          v-else
          class="ma-5"
          :width="5"
          indeterminate
          color="blue darken-2"
          size="200"
        />
      </div>

      <div class="py-4 d-flex">
        <v-icon
          :disabled="!charactersInfo.prev"
          class="mx-4"
          @click="getPrevPageClick"
        >
          mdi-arrow-left-drop-circle
        </v-icon>

        <div class="page">
          <v-select
            v-if="charactersInfo && charactersInfo.pages"
            v-model="form.page"
            :items="range(1, charactersInfo.pages + 1)"
            dense
            hide-details
            label=""
            outlined
            @change="getAllCharacters(true)"
          />
        </div>
        <v-icon
          :disabled="!charactersInfo.next"
          class="mx-4"
          @click="getNextPageClick"
        >
          mdi-arrow-right-drop-circle
        </v-icon>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { getModule } from "vuex-module-decorators";
import { CharacterModule } from "@/store/modules/character.module";
import CharacterTable from "@/components/CharacterTable.vue";
import { ECharacterStatus, ICharacterFilters } from "@/api/character.api";
import { range } from "lodash";
import { ERoutes } from "@/router/routes";

@Component<CharactersPage>({
  components: { CharacterTable },
  data: () => ({
    ECharacterStatus,
    range,
    ERoutes,
  }),
})
export default class CharactersPage extends Vue {
  public form: Partial<ICharacterFilters> = {
    name: undefined,
    status: undefined,
    page: undefined,
  };

  public charactersModule = getModule(CharacterModule, this.$store);

  private get characters() {
    return this.charactersModule.characters?.results;
  }

  private get charactersInfo() {
    return this.charactersModule.characters?.info;
  }

  private get isCharactersLoading() {
    return this.charactersModule.isCharactersLoading;
  }

  public async getAllCharacters(changePage: boolean) {
    if (!changePage) this.form.page = undefined;

    await this.charactersModule.getAllCharacters(this.form);
    this.form.page = this.charactersInfo?.current;
    this.scrollBehaviorToTop();
  }

  public async getNextPageClick() {
    if (this.form.page) this.form.page++;
    await this.charactersModule.getAllCharacters(this.form);
    this.scrollBehaviorToTop();
  }

  public async getPrevPageClick() {
    if (this.form.page) this.form.page--;
    await this.charactersModule.getAllCharacters(this.form);
    this.scrollBehaviorToTop();
  }

  public mounted() {
    this.charactersModule.getAllCharacters(this.form);
    this.form.page = this.charactersInfo?.current;
  }

  public scrollBehaviorToTop() {
    document.getElementById("app")?.scrollIntoView({ behavior: "smooth" });
  }
}
</script>
<style lang="scss">
.search {
  width: fit-content;
}

.page {
  max-width: 150px;
}
</style>
