<template>
  <div class="home center flex-column">
    <h1 class="text-h2 ma-6">Bienvenue dans l'app de Rick et Morty</h1>

    <p>Vous êtes sur la page d'accueil</p>
    <p>
      Pour aller à la page des personnages cliquer
      <router-link :to="ERoutes.CHARACTERS"> ici</router-link>
    </p>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { ERoutes } from "@/router/routes";

@Component<HomePage>({
  data: () => ({
    ERoutes,
  }),
})
export default class HomePage extends Vue {}
</script>
<style lang="scss">
.search {
  width: fit-content;
}

.page {
  max-width: 150px;
}
</style>
