<template>
  <div>
    <h1>Page non trouvé</h1>

    <p>
      Pour aller à la page des d'accueil cliquer
      <router-link :to="ERoutes.HOME"> ici</router-link>
    </p>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { ERoutes } from "@/router/routes";
@Component<NotFoundPage>({
  data: () => ({ ERoutes }),
})
export default class NotFoundPage extends Vue {}
</script>
<style lang="scss"></style>
