<template>
  <div
    v-if="characters.length !== 0"
    class="character-table center my-4 flex-wrap"
  >
    <template v-for="character of characters">
      <character-card :key="character.id" :character="character" />
    </template>
  </div>
  <div v-else>loader</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import CharacterCard from "@/components/CharacterCard.vue";
import { ICharacter } from "@/api/character.type";

@Component({
  components: { CharacterCard },
})
export default class CharacterTable extends Vue {
  @Prop() private characters!: ICharacter[];
}
</script>

<style lang="scss" scoped>
.character-table {
}
</style>
