<template>
  <v-card
    :color="`${cardColor} ${cardShade}`"
    :to="generateCharacterPage(character.id.toString())"
    class="character-card d-flex flex-column justify-center align-center pa-3 ma-4 white--text"
    height="200"
    hover
    width="150"
  >
    <v-avatar class="mb-4" size="64">
      <img :alt="`${character.name}'s face`" :src="character.image" />
    </v-avatar>
    <h3>{{ character.name }}</h3>
  </v-card>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { ICharacter } from "@/api/character.type";
import { ERickCharacterSpecies } from "@/api/rick-api.type";
import { generateCharacterPage } from "@/services/route.service";
import { isEqual } from "lodash";
import { ERoutes } from "@/router/routes";

@Component({
  methods: {
    generateCharacterPage,
  },
})
export default class CharacterCard extends Vue {
  @Prop() private character!: ICharacter;

  private get cardColor() {
    // TODO Make service to get color
    switch (this.character.species) {
      case ERickCharacterSpecies.HUMAN:
        return "purple";

      case ERickCharacterSpecies.ALIEN:
        return "orange";

      default:
        return "grey";
    }
  }

  private get cardShade() {
    // TODO Make service to get color
    switch (this.character.status.toLowerCase()) {
      case "alive":
        return "darken-5";
      case "dead":
        return "lighten-5";
      case "unknown":
        return "lighten-3";
      default:
        return "grey";
    }
  }

  public goToCharacterPage() {
    const routeParams = { name: this.$route.name, params: this.$route.params };
    const pushParams = {
      name: ERoutes.CHARACTER,
      params: { id: this.character.id.toString() },
      props: {},
    };

    if (!isEqual(pushParams, routeParams)) {
      void this.$router.push(pushParams);
    }
  }
}
</script>

<style lang="scss" scoped></style>
