<template>
  <v-app id="app">
    <!--    <nav>-->
    <!--      <template v-for="route of routesGranted">-->
    <!--        <router-link-->
    <!--          v-if="route.meta.visible.appBar"-->
    <!--          :key="route.name"-->
    <!--          :to="route.path"-->
    <!--          >{{ route.name }}-->
    <!--        </router-link>-->
    <!--      </template>-->
    <!--    </nav>-->
    <router-view />
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component<App>({
  components: {},
})
export default class App extends Vue {
  public routes = this.$routeManager.getRoutesConfig();

  private get routesGranted() {
    return this.routes;
    // TODO add user
    // return this.$store.getters.user
    //   ? this.routes.filter((i) =>
    //       isGranted(i.meta?.roles as ERole[], this.$store.getters.user.roles)
    //     )
    //   : [];
  }
}
</script>

<style lang="scss">
@import "styles/elements";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
